.preview {
  background-image: url('../img/backgrounds/preview.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 122px 0 254px 0;
}

.preview__wrapper {
  padding-right: 308px;
}

.preview__title {
  //margin:
}

.preview__text {
  font-style: italic;
  color: $color-white;
  margin: 46px 0;
}

.search-form {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1.6rem;
  padding: 1.8rem;
  justify-content: space-between;
}

.search-form__input {
  border: none;
  background: none;
  @include font($size: 2.4rem, $height: 2.9rem, $style: italic, $weight: 400);
  padding-left: 3rem;
    &::placeholder {
      color: $color_headers;
    }
}

.search-form__button {
  @extend %font-RHT;
  @include font($size: 2.4rem, $height: 3.2rem, $weight: 500);
  padding: 1.3rem 3.2rem;
}