.steps {
  padding-top: 80px;
}
.steps__title {
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.step-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
