.stories {
  text-align: center;
  color: $color_darkblue;
}

.stories__title {
  margin-bottom: 40px;
}

.stories__background {
  background-image: url('../img/backgrounds/ship.png');
  //background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}

.stories__background_opacity {
  background: rgba(255, 255, 255, 0.7);
}

.stories__container {
  padding: 40px 0;
}

.story {
  display: flex;
  column-gap: 40px;
  padding-bottom: 20px;
}

.story__image {
  width: 400px;
  height: 250px;
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}

.story__description {
  text-align: left;
}

.story__title {
  color: $color_darkblue;
  margin: 0
}

.stories__button {
  display: inline-flex;
}

.story__link {
  text-decoration: underline;
  font-weight: 700;
}


