.button {
  @extend %font-RHT;
  padding: 1rem 3rem;
  background: $color_darkblue;
  border-radius: 1rem;
  border: none;
  color: $color_white;
  @include font($size: 2.4rem, $height: 3.1rem, $weight: 500);
}
