.header {
  position: absolute;
  width: 1440px;
  //width: 100%;
  background: $color-bg_header;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  padding: 25px 0 24px 0;
  color: $color-white;
}

.header__wrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
}


.header__button {
  @include font($size: 1.6rem, $height: 2.1rem, $weight: 500);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}